---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AiOutlineGithub, AiFillLinkedin } from "react-icons/ai/index.js";
import { SiDiscord, SiBuymeacoffee } from "react-icons/si/index.js";
---

<BaseLayout pageTitle={"Leetcode Solutions 🪨"}>
  <section class="bg-white dark:bg-gray-800 py-10 md:py-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center md:py-16 md:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm md:max-w-screen-md md:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Why This Project</h2>
        <p class="md:text-2xl font-light text-zinc-800 text-lg dark:text-gray-400">
          I made this project to showcase my speedy LeetCode solutions(Hoping to), hosted on a speedy Astro website!
        </p>
      </div>
      <div class="flex justify-center items-center">
        <div class="text-center text-gray-500 dark:text-gray-400">
          <img
            class="mx-auto mb-4 w-40 h-40 rounded-full"
            src="https://avatars.githubusercontent.com/u/42484705?v=4"
            alt="J S Avatar"
          />
          <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">J S Vignesh Kanna</h3>
          <p class="underline underline-offset-2">Owner</p>
          <div class="flex justify-center items-center mt-4 gap-4 text-black dark:text-white text-xl">
            <a href="https://github.com/jsvigneshkanna" target="_blank" rel="noopener noreferrer"
              ><AiOutlineGithub />
            </a>
            <a href="https://www.linkedin.com/in/jsvigneshkanna/" target="_blank" rel="noopener noreferrer"
              ><AiFillLinkedin />
            </a>
            <a
              href="https://discord.com/channels/1031097107324620860/1031097107324620862"
              target="_blank"
              rel="noopener noreferrer"
              ><SiDiscord />
            </a>
            <a href="https://www.buymeacoffee.com/jsvigneshkanna?new=1" target="_blank" rel="noopener noreferrer"
              ><SiBuymeacoffee />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center mx-4 md:mx-60 p-2 border-[1px] rounded-lg border-gray-600 bg-zinc-100 dark:bg-slate-800 text-slate-900 dark:text-white shadow-md shadow-zinc-400 dark:shadow-zinc-600"
    >
      <p class="md:text-lg mb-2 font-light text-base">
        This is an open-source project and here are some of our top collaborators ⚡
      </p>
      <p class="md:text-lg mb-2 font-light text-base">
        If you like this product and want to make it cooler, contribute by <span
          class="inline-block whitespace-nowrap bg-sky-300 px-2 rounded-lg text-blue-800"
          ><a href="https://github.com/jsvigneshkanna/leetcode_solved_programs" target="_blank" rel="noreferrer"
            >checking here</a
          >
        </span>
      </p>
      <div class="mb-4">The contributors list will be updated in some days 📌</div>
    </div>
  </section>
</BaseLayout>
