---
---

<div class="bg-slate-200 dark:bg-rose-900 relative px-8">
  <div class="flex flex-col items-center justify-center z-10 py-28 md:py-48 text-center">
    <h1 class="font-black text-blue-900 text-[32px] md:text-[54px] dark:text-blue-400">Hey 👋, Welcome to VK's</h1>
    <h2 class="font-bold text-orange-700 dark:text-orange-400 text-[24px] md:text-[42px]">Leetcode Solutions 🪨</h2>
    <div
      class="font-semibold text-lg text-white mt-8 p-8 bg-slate-300 dark:bg-rose-800 rounded-3xl shadow-md shadow-slate-400 dark:shadow-rose-500"
    >
      <h4 class="py-2 dark:text-slate-300 text-blue-900 text-xl md:text-2xl">These are my own solutions</h4>
      <h4 class="py-2 dark:text-slate-300 text-blue-900 text-xl md:text-2xl">
        Have tried my best to post most optimal solutions
      </h4>
    </div>
  </div>
</div>
