---
---

<div class="bg-gradient-to-r from-red-900 to-pink-900 text-white dark:text-blue">
  <div class="flex flex-col items-center justify-center h-[70vh]">
    <h1 class="font-black text-white text-[42px] dark:text-blue">Hey 👋, Welcome to VK</h1>
    <h2 class="font-bold text-orange-300 text-[32px]">Leetcode Solutions</h2>
    <div
      class="font-semibold text-lg text-white mt-8 p-8 bg-slate-400 text-center rounded-3xl shadow-md shadow-orange-300"
    >
      <h4 class="py-2 dark:text-blue-600">These are my own solutions</h4>
      <h4>Have tried my best to post most optimal solutions</h4>
    </div>
  </div>
</div>
