---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SolutionsBanner from "../../components/SolutionsBanner.astro";
---

<BaseLayout>
  <SolutionsBanner />
  <div class="text-center px-4 md:px-40 text-lg text-black dark:text-white py-8">
    <h2 class="py-3">
      In this page, we can find all the Leetcode solutions in <span
        class="whitespace-nowrap text-blue-600 font-bold dark:text-orange-600">python/ Javascript.</span
      >
    </h2>
    <h4>
      These solutions are added from <span class="whitespace-nowrap text-blue-600 font-bold dark:text-orange-600"
        >October 31'st 2022 📅
      </span>
    </h4>
  </div>
</BaseLayout>
