---
const { pageTitle } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../prism/prism.css";
---

<!-- Base layout for all pages which has html and meta tags -->
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <style>
    /* style scroll bar */
    body::-webkit-scrollbar {
      width: 0.6rem;
    }
    body::-webkit-scrollbar-track {
      background: rgb(234 88 12);
    }
    body::-webkit-scrollbar-thumb {
      background: rgb(24 24 27);
      border-radius: 5px;
    }
    body::-webkit-scrollbar-thumb:hover {
      background: rgb(49, 70, 138);
    }
  </style>
  <body
    class="min-h-screen font-sans bg-zinc-200 text-zinc-900 dark:bg-gradient-to-tl dark:from-blue-900 dark:to-slate-900 dark:text-white"
  >
    <Header />
    <slot />
    <Footer />
    <script src="../prism/prism.js"></script>
  </body>
</html>
